@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #121214;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/*Header *******/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  padding-top: 30px;
  padding-left: 104px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  padding-right: 30px;
}

.logo a {
  text-decoration: none;
  color: #737380;
  font-size: 16px;
}

.logo a:hover {
  text-decoration: underline;
}

.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  color: #fff;
  background: #8257e6;
  width: 100%;
  border-radius: 5px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 118px;
}

.botao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 80px;
}

/* Conteúdo --------------- */
main {
  display: block;
}

.teste {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.d1 {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.h1 {
  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: #e1e1e6;
  font-weight: 700;
  width: 100%;
  max-width: 615px;
  margin: 0 auto;
}

span {
  color: #04d361;
}

.d2 {
  padding: 48px 0 120px 0;
  width: 100%;
  max-width: 665px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d2 p {
  color: #a8a8b3;
  text-align: right;
  width: 100%;
  max-width: 320px;
  font-size: 18px;
  line-height: 156%;
}

.d2 a {
  width: 100%;
  max-width: 298px;
  height: 64px;
}

.a3 {
  border: none;
  outline: none;
  color: #fff;
  background: #8257e6;
  width: 100%;
  border-radius: 5px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  line-height: 26px;
}

.d3 {
  width: 100%;
  height: 100%;
  position: relative;
}

.d4 {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.d5 {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.img1 {
  max-width: 100%;
  display: block;
}

.first2 {
  display: block;
  margin: 160px auto 0 auto;
  max-width: 876px;
  width: 100%;
}

.h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #e1e1e6;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.r1 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-row-gap: 64px;
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
}

.sv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65px;
  width: 100%;
}

.sv2 {
  color: #6e6e72;
}

.c2 {
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img2 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 580px;
}

.img3 {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.img4 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74.82758620689656%;
}

.img5 {
  visibility: visible;
  position: absolute;
  inset: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.first3 {
  width: 100%;
  max-width: 460px;
}

.linha {
  background-color: #04d361;
  width: 40px;
  height: 2px;
}

.t1 {
  font-size: 54px;
  line-height: 107%;
  color: #e1e1e6;
  font-weight: 700;
  padding: 40px 0 24px 0;
  width: 100%;
}

.p1 {
  font-size: 18px;
  line-height: 167%;
  color: #a8a8b3;
}

.c3 {
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first4 {
  width: 100%;
}

.linha2 {
  background-color: #04d361;
  width: 40px;
  height: 2px;
}

.t2 {
  font-size: 54px;
  line-height: 107%;
  color: #e1e1e6;
  font-weight: 700;
  padding: 40px 0 24px 0;
  width: 100%;
}

.p3 {
  max-width: 436px;
  font-size: 18px;
  line-height: 167%;
  color: #a8a8b3;
}

.img6 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 552px;
}

.img7 {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.img8 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 66.66666666666666%;
}

.img9 {
  visibility: visible;
  position: absolute;
  inset: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.c4 {
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img10 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 472px;
}

.img11 {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.img12 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 99.36440677966102%;
}

.img13 {
  visibility: visible;
  position: absolute;
  inset: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.first5 {
  width: 100%;
  max-width: 560px;
}

.linha3 {
  background-color: #04d361;
  width: 40px;
  height: 2px;
}

.t3 {
  font-size: 54px;
  line-height: 107%;
  color: #e1e1e6;
  font-weight: 700;
  padding: 40px 0 24px 0;
  width: 100%;
}

.p4 {
  max-width: 448px;
  font-size: 18px;
  line-height: 167%;
  color: #a8a8b3;
}

.img14 {
  margin: 240px auto 0 auto;
}

.first6 {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-size: contain;
  position: relative;
}

.sv4 {
  fill: #fd951f;
}

.sv3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img15 {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 !important;
}

.t4 {
  font-size: 54px;
  line-height: 58px;
  text-align: center;
  font-weight: bold;
  color: #e1e1e6;
  padding-top: 40px;
}

.p5 {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #a8a8b3;
  padding-top: 24px;
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
}

.strong1 {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  -webkit-letter-spacing: 0.08em;
  -moz-letter-spacing: 0.08em;
  -ms-letter-spacing: 0.08em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fd951f;
  padding-top: 40px;
}

/* ----------------------------------------------------------------------------*/
.dv1 {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.dv2 {
  margin: 240px auto 0 auto;
}

.dv3 {
  background-color: #04d361;
  width: 40px;
  height: 2px;
  display: none;
}

.t5 {
  font-weight: bold;
  font-size: 54px;
  line-height: 117%;
  color: #e1e1e6;
  width: 100%;
  max-width: 480px;
}

.p6 {
  font-size: 18px;
  line-height: 156%;
  color: #a8a8b3;
  max-width: 361px;
  margin-top: 24px;
  font-weight: normal;
}

/*-------------------------------------------------------*/
.hy1 {
  margin-top: 80px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  -ms-grid-columns: (minmax(0, 1fr));
      grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 32px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hy2 {
  width: 100%;
  height: 100%;
  max-width: 256px;
  border-radius: 5px;
  max-width: 100%;
  background: #202024;
}

.hy3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 32px;
  position: relative;
  border-bottom: 1px solid #323238;
}

.hy3 strong {
  font-size: 10px;
  line-height: 12px;
  background: #323238;
  border-radius: 13px;
  padding: 6px 12px;
  text-transform: uppercase;
  color: #ffffff;
}

.hy3 span {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #41414d;
}

.hy2 header {
  display: block;
  padding: 32px;
}

.hy2 header h3 {
  font-size: 32px;
  line-height: 119%;
  font-weight: bold;
  color: #e1e1e6;
}

.hy2 header h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #04d361;
  padding: 24px 0;
}

.hy2 header p {
  font-size: 18px;
  line-height: 156%;
  color: #a8a8b3;
}

.hyw2 {
  width: 100%;
  height: 100%;
  max-width: 256px;
  border-radius: 5px;
  max-width: 100%;
  background: #202024;
  position: relative;
  border: 0 2px 2px 2px;
  border-style: solid;
  border-color: transparent;
}

.hyw2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 20, 0)), to(#fd951f));
  background: linear-gradient(180deg, rgba(18, 18, 20, 0) 0%, #fd951f 100%);
}

.hyw2::after {
  content: 'Em breve';
  width: 208px;
  height: 436px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 20, 0)), to(#fd951f));
  background: linear-gradient(180deg, rgba(18, 18, 20, 0) 0%, #fd951f 100%);
  border-radius: 5px;
  position: absolute;
  right: -24px;
  bottom: -40px;
  z-index: -5;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #121214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 10px;
}

/*----------------------------------------------------------------------*/
.final {
  position: relative;
  margin-top: 415px;
}

.secfinal {
  background: #202024;
  width: 100%;
  border-radius: 5px;
  padding: 80px !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.textfinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  padding-bottom: 24px;
}

.secfinal h2 {
  font-weight: bold;
  font-size: 54px;
  line-height: 56px;
  width: 100%;
  color: #e1e1e6;
}

.secfinal h2 b {
  color: #04d361;
}

.secfinal p {
  font-size: 18px;
  line-height: 156%;
  color: #a8a8b3;
  max-width: 430px;
}

.secfinal a {
  width: 100%;
  height: 64px;
  max-width: 271px;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
}

.finalp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.afinal {
  border: none;
  outline: none;
  color: #fff;
  background: #8257e6;
  width: 100%;
  border-radius: 5px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.secfinal .finalp a svg {
  position: absolute;
  top: -97px;
  left: -50%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/*--------------------------------------------------------------------*/
footer {
  display: block;
}

.f1 {
  width: 100%;
  height: 100%;
  padding: 256px 0 80px 0;
  background: #0d0d0f;
}

.fc {
  padding: 0 !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 184px 160px 1fr;
      grid-template-columns: 184px 160px 1fr;
  justify-items: flex-end;
  grid-row-gap: 32px;
  grid-column-gap: 40px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.svgfinal {
  justify-self: flex-start;
}

.ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  
  grid-area: 1 / 3;
}

li:not(:last-child) {
  margin-right: 24px;
}

.ul1 li a {
  font-size: 14px;
  line-height: 16px;
  color: #a8a8b3;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.ul2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px);
      grid-template-columns: repeat(4, 40px);
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-self: flex-start;
 
  grid-area: 2 /1;
}

.ul2 li {
  background: #202024;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ul2 li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ul2 li a svg {
  width: 18px;
  height: 18px;
  color: #8257e6;
}

.aultimo {
  color: #9466ff;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  
  grid-area: 2 / 2;
}

.divfim {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 170px;
  
  grid-area: 2 / 3;
}

.divfim p {
  font-size: 14px;
  line-height: 24px;
  color: #04d361;
}

button {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(#efefef, #3b3b3b);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
     border-image: initial;
  border-radius: 2px;
}

.but1 {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #202024;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.but1 span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.but1 svg {
  color: #8257e6;
  width: 18px;
  height: 18px;
}
/*# sourceMappingURL=style.css.map */