*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: $background;
    font-family:  ('Poppins', sans-serif);
    font-weight: 400;
    
}
a{
        width: 100%;
        max-width: 298px;
        height: 64px;


}